[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this Spring</h2>
            </div>

            <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/calendar.jpg'|theme }}" alt=""></a>
	                         </div>
                             <div class="media-body">
                                <h4 class="media-heading">Events &amp; Classes</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/springtree.png'|theme }}" alt=""></a>
                            </div>
                             <div class="media-body">
                                <h4 class="media-heading">Seasonal Gardening</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/pointer.jpg'|theme }}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Plant Finder</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/hours.png'|theme }}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Locations &amp; Hours</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/bugs.png'|theme }}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Garden Solutions</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="#"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/community.jpg'|theme }}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Community</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->