description = "image list of herbs"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Whatevers</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All whatevers</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".annual">Annuals</a></li>
                 <li><a class="btn btn-default" href="#" data-filter=".biennial">Biennials</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	           <h2> Not Complete</h2>

            </div> <!-- row -->

        </div>