description = "image list of natives"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Natives for your Garden</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Natives</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".shrub">Shrubs</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".tree">Trees</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Acer circinatum"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/acer-circinatum/"><h4>Acer circinatum</h4>
                            <p>Vine Maple</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                        <a href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Bugbane"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/actaea/"><h4>Actaea</h4>
                            <p>Bugbane</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Columbine"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/aquilegia/"><h4>Aquilegia</h4>
                            <p>Columbine</p></a>
                        </div>
                    </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Madrone"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                             <a href="/natives/arbutus/"><h4>Arbutus</h4>
                            <p>Pacific Madrone</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarumcaudatum.jpg'|theme }}" alt="Wild Ginger"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/asarum/"><h4>Asarum</h4>
                            <p>Wild Ginger</p></a>
                        </div>
						</div>
                      </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                       <a href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Milkweed"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                             <a href="/natives/asclepias/"><h4>Asclepias</h4>
                            <p>Milkweed</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/camassia/"><img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="Camassia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/camassia/"><h4>Camassia</h4>
                            <p>Camas</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Ceanothus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/ceanothus/"><h4>Ceanothus</h4>
                            <p>Wild Lilac</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/corns-sericea/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Cornus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/cornus-sericea/"><h4>Cornus sericea</h4>
                            <p>Red Twig Dogwood</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(850px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/dodecatheon/"><img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="Dodecatheon"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/dodecatheon/"><h4>Dodecatheon</h4>
                            <p>Shooting Star</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/erigeron/"><img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="Erigeron"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/erigeron/"><h4>Erigeron</h4>
                            <p>Fleabane</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/eriophyllum/"><img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="eriophyllum"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/eriophyllum/"><h4>Eriophyllum</h4>
                            <p>Oregon Sunshine</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/fragaria/"><img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="Fragaria"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/fragaria/"><h4>Fragaria</h4>
                            <p>Native Strawberry</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                      <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/gaultheria/"><img class="img-responsive" src="{{ 'assets/images/natives/gaultheria.jpg'|theme }}" alt="Gaultheria"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/gaultheria/"><h4>Gaultheria shallon</h4>
                            <p>Salal</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/holodiscus/"><img class="img-responsive" src="{{ 'assets/images/natives/holodiscus.jpg'|theme }}" alt="holodiscus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/holodiscus/"><h4>Holodiscus</h4>
                            <p>Oceanspray</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/iris/"><img class="img-responsive" src="{{ 'assets/images/natives/iris.jpg'|theme }}" alt="iris"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/iris/"><h4>Iris</h4>
                            <p>Native Iris</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

			<div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/lewisia/"><img class="img-responsive" src="{{ 'assets/images/natives/lewisia.jpg'|theme }}" alt="lewisia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/lewisia/"><h4>Lewisia</h4>
                            <p>Bitterroot</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/mahonia/"><img class="img-responsive" src="{{ 'assets/images/natives/mahonia.jpg'|theme }}" alt="mahonia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/mahonia/"><h4>Mahonia</h4>
                            <p>Oregon Grape</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/malus-fusca/"><img class="img-responsive" src="{{ 'assets/images/natives/malus-fusca.jpg'|theme }}" alt="malus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/malus-fusca/"><h4>Malus fusca</h4>
                            <p>Western Crabapple</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/osmaronia/"><img class="img-responsive" src="{{ 'assets/images/natives/osmaronia.jpg'|theme }}" alt="osmaronia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/osmaronia/"><h4>Osmaronia</h4>
                            <p>Indian Plum</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                     <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/penstemon/"><img class="img-responsive" src="{{ 'assets/images/natives/penstemon.jpg'|theme }}" alt="penstemon"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/penstemon/"><h4>Penstemon</h4>
                            <p>Beard-tongue</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                   <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/philadelphus/"><img class="img-responsive" src="{{ 'assets/images/natives/philadelphus.jpg'|theme }}" alt="philadelphus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/philadelphus/"><h4>Philadelphus</h4>
                            <p>Mock Orange</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                   <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/natives/physocarpus.jpg'|theme }}" alt="physocarpus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/physocarpus/"><h4>Native Physocarpus</h4>
                            <p>Western Ninebark</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/pinus/"><img class="img-responsive" src="{{ 'assets/images/natives/pinus.jpg'|theme }}" alt="pinus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/pinus/"><h4>Pinus</h4>
                            <p>Native Pine</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/quercus/"><img class="img-responsive" src="{{ 'assets/images/natives/quercus.jpg'|theme }}" alt="quercus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/quercus/"><h4>Quercus</h4>
                            <p>Garry Oak</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/rhamnus/"><img class="img-responsive" src="{{ 'assets/images/natives/rhamnus.jpg'|theme }}" alt="rhamnus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/rhamnus/"><h4>Rhamnus</h4>
                            <p>Cascara</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/ribes/"><img class="img-responsive" src="{{ 'assets/images/natives/ribes.jpg'|theme }}" alt="ribes"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/ribes/"><h4>Ribes</h4>
                            <p>Wild Currant</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/rosa/"><img class="img-responsive" src="{{ 'assets/images/natives/rosa.jpg'|theme }}" alt="rosa"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/rosa/"><h4>Rosa</h4>
                            <p>Wild Rose</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/rubus/"><img class="img-responsive" src="{{ 'assets/images/natives/rubus.jpg'|theme }}" alt="rubus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/rubus/"><h4>Rubus</h4>
                            <p>Salmonberry</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/sambucus/"><img class="img-responsive" src="{{ 'assets/images/natives/sambucus.jpg'|theme }}" alt="sambucus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/sambucus/"><h4>Sambucus</h4>
                            <p>Elderberry</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/sedum/"><img class="img-responsive" src="{{ 'assets/images/natives/sedum.jpg'|theme }}" alt="sedum"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/sedum/"><h4>Sedum</h4>
                            <p>Stonecrop</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/sidalcea/"><img class="img-responsive" src="{{ 'assets/images/natives/sidalcea.jpg'|theme }}" alt="sidalcea"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/sidalcea/"><h4>Sidalcea</h4>
                            <p>Checker Mallow</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/sisyrinchium/"><img class="img-responsive" src="{{ 'assets/images/natives/sisyrinchium.jpg'|theme }}" alt="sisyrinchium"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/sisyrinchium/"><h4>Sisyrinchium</h4>
                            <p>Blue-eyed Grass</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/solidago/"><img class="img-responsive" src="{{ 'assets/images/natives/solidago.jpg'|theme }}" alt="solidago"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/solidago/"><h4>Solidago</h4>
                            <p>Goldenrod</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/symphoricarpos/"><img class="img-responsive" src="{{ 'assets/images/natives/symphoricarpos.jpg'|theme }}" alt="symphoricarpos"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/symphoricarpos/"><h4>Symphoricarpos</h4>
                            <p>Snowberry</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/synthyris/"><img class="img-responsive" src="{{ 'assets/images/natives/synthyris.jpg'|theme }}" alt="synthyris"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/synthyris/"><h4>Synthyris</h4>
                            <p>Native Figwort</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/trillium/"><img class="img-responsive" src="{{ 'assets/images/natives/trillium.jpg'|theme }}" alt="trillium"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/trillium/"><h4>Trillium</h4>
                            <p>Wake Robin</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/natives/vaccinium.jpg'|theme }}" alt="vaccinium"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/vaccinium/"><h4>Vaccinium</h4>
                            <p>Huckleberry</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/vancouveria/"><img class="img-responsive" src="{{ 'assets/images/natives/vancouveria.jpg'|theme }}" alt="vancouveria"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/vancouveria/"><h4>Vancouveria</h4>
                            <p>Inside-out Flower</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                     <a href="/natives/viola/"><img class="img-responsive" src="{{ 'assets/images/natives/viola.jpg'|theme }}" alt="viola"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/viola/"><h4>Viola</h4>
                            <p>Violet</p></a>
                        </div>
                    	</div>
                  		</div>
                    </div><!--/.portfolio-item-->

                     </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>