description = "image list of herbs"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Herbs</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Herbs</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".annual">Annuals</a></li>
                 <li><a class="btn btn-default" href="#" data-filter=".biennial">Biennials</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/basil/"><img class="img-responsive" src="{{ 'assets/images/herbs/basil.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/basil/"><h4>Basil</h4>
                            <p>Basil</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/bay-laurel/"><img class="img-responsive" src="{{ 'assets/images/herbs/bay-laurel.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/bay-laurel/"><h4>Bay Laurel</h4>
                            <p>Bay Laurel</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/uncommon-seasonings/"><img class="img-responsive" src="{{ 'assets/images/herbs/vietnamese-coriander.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/uncommon-seasonings/"><h4>Vietnamese Coriander</h4>
                            <p>Vietnamese Coriander</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                 <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/garlic/"><img class="img-responsive" src="{{ 'assets/images/herbs/garlic.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/garlic/"><h4>Garlic</h4>
                            <p>Garlic</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/uncommon-seasonings/"><img class="img-responsive" src="{{ 'assets/images/herbs/society-garlic.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/uncommon-seasonings/"><h4>Society Garlic</h4>
                            <p>Society Garlic</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                    <div class="portfolio-item col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/indoor-herbs/"><img class="img-responsive" src="{{ 'assets/images/herbs/indoor-herbs.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/indoor-herbs/"><h4>Indoor Herbs</h4>
                            <p>Indoor Herbs</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/verbena/"><img class="img-responsive" src="{{ 'assets/images/herbs/verbena.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/verbena/"><h4>Lemon Verbena</h4>
                            <p>Lemon Verbena</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/ornamentals/"><img class="img-responsive" src="{{ 'assets/images/herbs/ornamentals.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/ornamentals/"><h4>Ornamentals</h4>
                            <p>Ornamentals</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item biennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/parsley/"><img class="img-responsive" src="{{ 'assets/images//herbs/parsley.jpg'|theme }}" alt="Sedge"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/parsley/"><h4>Parsley</h4>
                            <p>Parsley</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/rosemary/"><img class="img-responsive" src="{{ 'assets/images//herbs/rosemary.jpg'|theme }}" alt="Sedge"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/rosemary/"><h4>Rosemary</h4>
                            <p>Rosemary</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/sage/"><img class="img-responsive" src="{{ 'assets/images/herbs/sage.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/sage/"><h4>Sage</h4>
                            <p>Sage</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

     <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
               <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/tomato/"><img class="img-responsive" src="{{ 'assets/images/herbs/tomato.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/tomato/"><h4>Tomato</h4>
                            <p>Tomato</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/uncommon-seasonings/"><img class="img-responsive" src="{{ 'assets/images/herbs/shiso.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                       <a href="/herbs/uncommon-seasonings/"><h4>Shiso</h4>
                            <p>Uncommon Seasonings</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/uncommon-seasonings/"><img class="img-responsive" src="{{ 'assets/images/herbs/tarragon.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/uncommon-seasonings/#tarragon/"><h4>Tarragon</h4>
                            <p>Tarragon</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/thyme/"><img class="img-responsive" src="{{ 'assets/images/herbs/thyme.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/thyme/"><h4>Thyme</h4>
                            <p>Thyme</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                     <div class="portfolio-item col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/herbs/uncommon-seasonings/"><img class="img-responsive" src="{{ 'assets/images/herbs/uncommon-seasonings.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/herbs/uncommon-seasonings/"><h4>Uncommon Seasonings</h4>
                            <p>Uncommon Seasonings</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>