description = "image list of trees"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Trees</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All trees</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".evergreen">Evergreen</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".flowering">Flowering</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".deciduous">Deciduous</a></li>
                 <li><a class="btn btn-default" href="#" data-filter=".fruit">Fruit</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/lagerstroemia/"><img class="img-responsive" src="{{ 'assets/images/trees/lagerstroemia.jpg'|theme }}" alt="Herbs"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/lagerstroemia/"><h4>Lagerstroemia</h4>
                            <p>Crape Myrtle</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>