description = "image list of natives"

[viewBag]
==
<div class="container">
            <div class="center">
               <div class="headline"><h2>Featured Annuals</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">
		            

                <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/abutilon/"><img class="img-responsive" src="{{ 'assets/images/annuals/abutilon.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/abutilon/"><h4>Abutilon</h4>
                            <p>Abutilon</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->


 <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/begonia/"><img class="img-responsive" src="{{ 'assets/images/annuals/begonia.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/begonia/"><h4>Begonia</h4>
                            <p>Begonia</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->


               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/brugmansia/"><img class="img-responsive" src="{{ 'assets/images/annuals/brugmansia.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/brugmansia/"><h4>Brugmansia</h4>
                            <p>Brugmansia</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/calibrachoa/"><img class="img-responsive" src="{{ 'assets/images/annuals/calibrachoa.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/calibrachoa/"><h4>Calibrachoa</h4>
                            <p>Calibrachoa</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/coleus/"><img class="img-responsive" src="{{ 'assets/images/annuals/coleus.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/coleus/"><h4>Coleus</h4>
                            <p>Coleus</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/tender-fuchsia/"><img class="img-responsive" src="{{ 'assets/images/annuals/fuchsia.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/tender-fuchsia/"><h4>Tender Fuchsia</h4>
                            <p>Tender Fuchsia</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/geranium/"><img class="img-responsive" src="{{ 'assets/images/annuals/geranium.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/geranium/"><h4>Geranium</h4>
                            <p>Geranium</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/impatiens/"><img class="img-responsive" src="{{ 'assets/images/annuals/impatiens.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/impatiens/"><h4>Impatiens</h4>
                            <p>Impatiens</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/nasturtium/"><img class="img-responsive" src="{{ 'assets/images/annuals/nasturtium.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/nasturtium/"><h4>Nasturtium</h4>
                            <p>Nasturtium</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/nicotiana/"><img class="img-responsive" src="{{ 'assets/images/annuals/nicotiana.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/nicotiana/"><h4>Nicotiana</h4>
                            <p>Nicotiana</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/ornamentals/"><img class="img-responsive" src="{{ 'assets/images/annuals/ornamentals.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/ornamentals/"><h4>Ornamental</h4>
                            <p>Ornamental</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->


               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/sunflowers/"><img class="img-responsive" src="{{ 'assets/images/annuals/sunflower.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/sunflowers/"><h4>Sunflower</h4>
                            <p>Sunflower</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/tender-succulents/"><img class="img-responsive" src="{{ 'assets/images/annuals/succulent.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/tender-succulents/"><h4>Tender Succulents</h4>
                            <p>Tender Succulents</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/annuals/zantedeschia/"><img class="img-responsive" src="{{ 'assets/images/annuals/zantedeschia.jpg'|theme }}" alt="annuals"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/annuals/zantedeschia/"><h4>Zantedeschia</h4>
                            <p>Zantedeschia</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>