description = "image list of natives"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Natives for your Garden</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Natives</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".shrub">Shrubs</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".tree">Trees</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Acer circinatum"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/acer-circinatum/"><h4>Acer circinatum</h4>
                            <p>Vine Maple</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                        <a href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Bugbane"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/actaea/"><h4>Actaea</h4>
                            <p>Bugbane</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Columbine"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/aquilegia/"><h4>Aquilegia</h4>
                            <p>Columbine</p></a>
                        </div>
                    </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Madrone"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                             <a href="/natives/arbutus/"><h4>Arbutus</h4>
                            <p>Pacific Madrone</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarumcaudatum.jpg'|theme }}" alt="Wild Ginger"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/asarum/"><h4>Asarum</h4>
                            <p>Wild Ginger</p></a>
                        </div>
						</div>
                      </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                       <a href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Milkweed"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                             <a href="/natives/asclepias/"><h4>Asclepias</h4>
                            <p>Milkweed</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/camassia/"><img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="Camassia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/camassia/"><h4>Camassia</h4>
                            <p>Camas</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Ceanothus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/ceanothus/"><h4>Ceanothus</h4>
                            <p>Wild Lilac</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/corns/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Cornus"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/cornus/"><h4>Cornus</h4>
                            <p>Red Twig Dogwood</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(850px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/dodecatheon/"><img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="Dodecatheon"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/dodecatheon/"><h4>Dodecatheon</h4>
                            <p>Shooting Star</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/erigeron/"><img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="Erigeron">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/erigeron/"><h4>Erigeron</h4>
                            <p>Fleabane</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/eriophyllum/"><img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="eriophyllum"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/eriophyllum/"><h4>Eriophyllum</h4>
                            <p>Oregon Sunshine</p></a>
                        </div>
                    	</div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">

                            <a href="/natives/fragaria/"><img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="Fragaria"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/natives/fragaria/"><h4>Fragaria</h4>
                            <p>Native Strawberry</p></a>
                        </div>
                    	</div>
                  		</div>
                        </div>
                    </div><!--/.portfolio-item-->

                </div>
            </div>
        </div>