description = "image list of natives"

[viewBag]
==
<div class="container">
            <div class="center">
               <div class="headline"><h2>Featured Natives</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">
                    <div class="portfolio-item apps col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item1.png'|theme }}" alt="">

                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item2.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item3.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item4.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item5.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(850px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item6.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item7.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html bootstrap col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item8.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                                        <div class="portfolio-item wordpress html bootstrap col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item8.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->


                    <div class="portfolio-item wordpress html bootstrap col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/corlate/portfolio/recent/item8.png'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Vege Pizza</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                </div>
            </div>
        </div>