description = "image list of natives"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Natives for your Garden</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Natives</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".shrub">Shrubs</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".tree">Trees</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">
                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <a href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Bugbane"></a>

                    <h3><a href="/natives/actaea/">Actaea: Bugbane</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <a href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Columbine"></a>

		                    <h3><a href="/natives/aquilegia/">Aquilegia: Columbine</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <a href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarumcaudatum.jpg'|theme }}" alt="Wild Ginger"></a>

		                    <h3><a href="/natives/asarum/">Asarum: Wild Ginger</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <a href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Milkweed"></a>

		                    <h3><a href="/natives/asclepias/">Asclepias: Milkweed</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(680px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Camassia</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(850px, 0px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Dodecatheon</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Erigeron</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(170px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Eriophyllum</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                                        <div class="portfolio-item perennial shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(340px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Fragaria</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->


                    <div class="portfolio-item perennial tree col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(510px, 170px, 0px);">
                        <div class="plant-list-wrap">
                            <img class="img-responsive" src="{{ 'assets/images/natives/goodyera.jpg'|theme }}" alt="">

		                    <h3><a href="'samples/single-post'">Goodyera</a></h3>

                        </div>
                    </div><!--/.portfolio-item-->

                </div>
            </div>
        </div>