description = "image list of grasses"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Grasses for your Garden</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Grasses</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".shrub">Shrubs</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".tree">Trees</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/acorus/"><img class="img-responsive" src="{{ 'assets/images/grasses/acorus.jpg'|theme }}" alt="Grasses"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/acorus/"><h4>Acorus</h4>
                            <p>Sweet Flag</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/carex/"><img class="img-responsive" src="{{ 'assets/images/grasses/carex.jpg'|theme }}" alt="Sedge"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/carex/"><h4>Carex</h4>
                            <p>Sedge</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/lawn/"><img class="img-responsive" src="{{ 'assets/images/grasses/grass.jpg'|theme }}" alt="Flax"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/lawn/"><h4>Grass</h4>
                            <p>Lawn Grass</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

			   <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/ophiopogon/"><img class="img-responsive" src="{{ 'assets/images/grasses/ophiopogon.jpg'|theme }}" alt="Mondo Grass"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/ophiopogon/"><h4>Ophiopogon</h4>
                            <p>Mondo Grass</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/pennisetum/"><img class="img-responsive" src="{{ 'assets/images/grasses/pennisetum.jpg'|theme }}" alt="Fountain Grass"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/pennisetum/"><h4>Pennisetum</h4>
                            <p>Fountain Grass</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->
               <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/phormium/"><img class="img-responsive" src="{{ 'assets/images/grasses/phormium.jpg'|theme }}" alt="Flax"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/phormium/"><h4>Phormium</h4>
                            <p>Flax</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item tree shrub col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/grasses/phyllostachys/"><img class="img-responsive" src="{{ 'assets/images/grasses/bamboo.jpg'|theme }}" alt="Bamboo"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/grasses/phyllostachys/"><h4>Phyllostachys</h4>
                            <p>Bamboo</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->


               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>