[viewBag]
==
<meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="{{ this.page.meta_author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.meta_title }}</title>
    <!-- core CSS -->

<!-- Favicon -->
    <link rel="shortcut icon" href="{{ 'assets/images/ico/favicon.ico'|theme }}">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
    
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ 'assets/css/header-default.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/BrightonKit/BrightonKit.css'|theme }}">

	<!-- CSS Implementing -->
    <link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}"> 
<!--     <link rel="stylesheet" href="{{ 'assets/css/animations.css'|theme }}"> -->
    <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/prettyPhoto.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
    
	<!-- CSS Customization -->
	<link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/testpage.css'|theme }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'images/ico/apple-touch-icon-144-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'images/ico/apple-touch-icon-114-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'images/ico/apple-touch-icon-72-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'images/ico/apple-touch-icon-57-precomposed.png'|theme }}">