[viewBag]
snippetCode = "slidesheader"
==
<div class="intro-header" style="background-image: url({{ 'assets/images/slider/bg865.jpg'|theme }});">
        <div class="container">
            <div class="row">
                <div class="col-md-5 site-heading">
                        <h2>Fall is on it's way!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
   
                         <a class="btn btn-primary btn-lg" href="#">See how to be prepared!</a>
                 </div>
             </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- intro header -->