[viewBag]
==
<div class="container">
           <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="specials text-left">
                        <h2 class="brightonL center">Specials</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                    <h2 class="brightonL center">Let's Get Social</h2>
                           <div class="row socialicons">
                                <a href="https://www.facebook.com/PortlandNursery1/" target="_blank"><img class="img-responsive" src="{{ 'assets/images/icons/facebook64.png'|theme }}" alt="Portland Garden center trees and annuals"></a>
                                <a href="https://twitter.com/pdxnursery" target="_blank"><img class="img-responsive" src="{{ 'assets/images/icons/twitter64.png'|theme }}" alt="Portland Nursery and Garden Center perennials"></a>
                                <a href="https://www.instagram.com/portlandnursery/" target="_blank"><img class="img-responsive" src="{{ 'assets/images/icons/instagram64.png'|theme }}" alt="Portland Nursery houseplants"></a>
                            </div>
                        <h3>"Like Us" on Facebook and get a free package of Sunflower Seeds. Always know what's happening at Portland Nusery. Follow us on Twitter and Instagram.</h3>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="newsletter text-left">
                        <h2 class="brightonL center">Join Us</h2>
                        <h3 class="brightonL center">Subscribe to our Newsletter</h3>
                        <p>With your subscription you'll get updates on new arrivals, gardeing tips, special events and sales <em>and</em> an instant coupon good for 25% off your Pottery purchase!</p>
                        <div class="signupform"> 
                         <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup303598" accept-charset="UTF-8" onsubmit="return verifyRequired303598();" >
                            <input type="hidden" name="redirect" value="http://www.portlandnursery.com/newsletter/thankyou.html">
                            <input type="hidden" name="errorredirect" value="http://www.portlandnursery.com/newsletter/error.htm">
                        	<input type="text" name="fields_email" placeholder="email address (required)">
                        	<input type="text" name="fields_zip" placeholder="zip code">
                            <input type="hidden" name="listid" value="19337">
                            <input type="hidden" name="specialid:19337" value="8AB2">
                            <input type="hidden" name="clientid" value="230017">
                            <input type="hidden" name="formid" value="303598">
                            <input type="hidden" name="reallistid" value="1">
                            <input type="hidden" name="doubleopt" value="0">
                            <input name="Submit" type="submit" class="submit" value="Yes, Sign me up!">
                          </form>
                        </div>
                    </div>
                </div>
           </div>
        </div><!--/.container-->