[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">What's happening in your spring garden?</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/planning.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Spring Planning Tools</a></h4>
                        <span>29 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Half of the fun of gardening is plotting and scheming for spring…here are some helpful tools:</p>
						<ul>
						<li>The Territorial Seed Catalog is here</li>
						<li>Perennial Bloom Calendar</li>
						<li>Veggie Planting Calendar</li>
						<li>Rose List</li>
						<li>Fruit Lists</li>
						<li>Native Plant List</li></ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/veggiegarden.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Start a vegetable garden</a></h4>
                        <span>23 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/toolimage.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Find the best tools &amp; amendments</a></h4>
                        <span>14 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/container.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Fill your spring containers</a></h4>
                        <span>25 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/primula.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Add Annual color spots</a></h4>
                        <span>17 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <img src="{{ 'assets/images/springboxes/springshrub.jpg'|theme }}" alt="" />
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Spring Blooming Shrubs</a></h4>
                        <span>12 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>