[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">Preparing your gardens for spring planting</h2>
                <h3 class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</h3>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image1.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image2.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image3.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image4.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image5.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image6.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image7.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="seasonal-task-wrap">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/recent/image8.png'|theme }}" alt="">
                        <div class="overlay">
                            <div class="seasonal-task-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->