[viewBag]
==
<div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">Attracting Butterflies</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Attracting Hummingbirds</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Edible Native Fruits</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Winter Interest</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Native Plant Lists</a></li>
                                     <li class=""><a href="#tab6" data-toggle="tab" class="tehnical">Native Plant Lists</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                     <div class="tab-pane fade active in" id="tab1">
                                        <div class="media">
                                           <div class="media-body">
                                                <img class="pull-right img-circle" src="{{ 'assets/images/natives/butterfly.jpg'|theme }}">


                                                 <p>Having a garden that is a welcoming place for butterflies can be a real joy. There are a number of butterflies that are native to our region, and one way to be able to best attract them is by planting natives.</p><p>We've provided a list of many of the NW Native plants that we see during the year and that are good butterfly plants as well as good garden plants. <a href="#">Read about the plants&gt;&gt;</a></p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade" id="tab2">
                                        <div class="media">
<!--
                                           <div class="pull-left">
                                                <img src="http://portlandnursery.com/images-layout/natives/butterfly.jpg" class="img-responsive">
                                            </div>
-->
                                            <div class="media-body">
                                        <p>Hummingbird gardens come in every shape and size, from large landscapes to containers on a patio. These tiny birds are joyful to watch – consider planting something to bring them into your garden this year!</p><p>With a little planning using our Hummingbird Feature, you can be sure to provide something in bloom for these delightful birds throughout the season. <a href="#">Read about the plants&gt;&gt;</a></p>
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>The wild fruit of the Pacific Northwest offers a variety of fresh and delicious flavors. They can be used alone or combined with other fruit for a unique twist in your favorite jam, sauce or baking recipes.</p><p>Include these plants in your ‘edible forest’ and have a bounty that you can both enjoy and share with the birds that visit your garden! <a href="#">Read about the plants&gt;&gt;</a></p>
                                     </div>

                                     <div class="tab-pane fade" id="tab4">
                                        <p>Our feature on Natives for Winter Interest will help with including plants that add beauty and interest in the winter garden.</p><p>In winter, the garden view can be sparse and bare. Add color or texture to the winter garden by planting NW natives. <a href="#">Read about the plants&gt;&gt;</a></p>
                                     </div>

                                      <div class="tab-pane fade" id="tab5">
      <ul>
       <li><a href="../../docs/native-plants/portland_plant_list.pdf" target="_blank">City of Portland: Native Plant List</a></li>
	   <li><a href="../../docs/native-plants/NativePlantInterpretiveGuide.pdf" target="_blank">Audubon Sanctuary Botanical Signs Interpretive Guide</a></li>
	   <li><a href="http://www.npsoregon.org/" target="_blank">Native Plant Society of Oregon</a></li>
	   <li><a href="http://www.oregonflora.org/index.php" target="_blank">The Oregon Flora Project</a></li>
      </ul>
                                     </div>

                                 <div class="tab-pane fade" id="tab6">
                                        <p>Our feature on Natives for Winter Interest will help with including plants that add beauty and interest in the winter garden.</p><p>In winter, the garden view can be sparse and bare. Add color or texture to the winter garden by planting NW natives. <a href="#">Read about the plants&gt;&gt;</a></p>
                                     </div>

                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->