description = "small image mover on unify"

[viewBag]
==
<div class="container">
    
    <div class="row">
        
        <div class="large-12 columns">
            
          <!-- Owl Clients v1 -->
        <div class="headline"><h2>Our Clients</h2></div>
    	
		<div class="owl-carousel owl-theme owl-rtl owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(980px, 0px, 0px); transition: 0s; -webkit-transition: 0s; width: 4312px;">
                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/1.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/2.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/3.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/4.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/5.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/6.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/7.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/8.png'|theme }}" alt=""></div>
                </div>

                <div class="owl-item" style="width: 163px;">
                    <div class="item"><img src="{{ 'assets/images/testimages/clients4/9.png'|theme }}" alt=""></div>
                </div>
            </div>
        </div>

            <div class="owl-controls">
                <div class="owl-nav">
                    <div class="owl-prev" style="">
                        prev
                    </div>

                    <div class="owl-next" style="">
                        next
                    </div>
                </div>

                <div class="owl-dots" style="">
                    <div class="owl-dot active"></div>

                    <div class="owl-dot"></div>

                    <div class="owl-dot"></div>
                </div>
            </div>
        </div>
        <!-- End Owl Clients v1 -->
        
        </div>  <!-- columns -->
            
        </div> <!-- row -->
        
</div> <!-- container -->