description = "overlay test"

[viewBag]
==
<div class="container">

<div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline1.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Breakfast</h4></a>
                            <p>8:00 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline2.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Lunch</h4></a>
                            <p>11:00 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline3.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Lunch</h4></a>
                            <p>2:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline4.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>7:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline5.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>8:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/testimages/timeline6.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>9:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>