@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800|'Lato'";

/* Typography v2
********************************/
body {
	background:#fff;
	font-family:'Lato',sans-serif;
    color: #64686d;
	line-height:1.6;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-family:'Lato',sans-serif;
    color: #255D76;
    line-height:1.4;
}

.brightonL {
	font-family:BrightonSB-Light;
	font-weight:normal;
	font-style:normal;
}

.brightonM {
	font-family:BrightonSB-Medium;
	font-weight:normal;
	font-style:normal;
}

h1 {
	font-size:36px;
}

.left-inner h1 {
	font-family:BrightonSB-Medium;
}

.headline h2 {
	font-size:24px;
}

h2 {
	font-size:24px;
	font-weight: 300;
}

h2.brightonM {
	font-size: 32px;
	clear:both;
}

h3 {
	font-size:18px;
}

h3.brightonM {
	font-size: 26px;
}

h4, .h4 {
	font-size:16px;
}

ul li {
	line-height:2;
}

.section-header {
	text-align:center;
	margin:10px 0;
}


a {
	color:#c52d2f;
	-webkit-transition:color 300ms,background-color 300ms;
	-moz-transition:color 300ms,background-color 300ms;
	-o-transition:color 300ms,background-color 300ms;
	transition:color 300ms,background-color 300ms;
}

a:hover,a:focus {
	color:#d43133;
}

hr {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #fff;
}

.btn-primary {
	padding:8px 20px;
	background:#c52d2f;
	color:#fff;
	border-radius:4px;
	border:none;
	margin-top:10px;
}

.btn-primary:hover,.btn-primary:focus {
	background:#c52d2f;
	outline:none;
	box-shadow:none;
}

.btn-transparent {
	border:3px solid #fff;
	background:transparent;
	color:#fff;
}

.btn-transparent:hover {
	border-color:rgba(255,255,255,0.5);
}

/* Added from Unify for Search Button */
/*Button Styles
------------------------------------*/
.btn {
	 box-shadow: none;
	 border-radius: 0;
}
.btn-u {
	 border: 0;
	 color: #fff;
	 font-size: 14px;
	 cursor: pointer;
	 font-weight: 400;
	 padding: 3px 13px;
	 position: relative;
	 background: #72c02c;
	 white-space: nowrap;
	 display: inline-block;
	 text-decoration: none;
}
.btn-u:hover {
	color: #fff; background: red;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* End Added from Unify for Search Button */

a:hover,a:focus {
	color:#111;
	text-decoration:none;
	outline:none;
}

.dropdown-menu {
	margin-top:-1px;
	min-width:180px;
}

.media>.pull-left {
	margin-right:20px;
}

.media>.pull-right {
	margin-left:20px;
}

body > section {
	padding:30px 0;
}

.center {
	text-align:center;
/* 	padding-bottom:55px; */
}

.scaleIn {
	-webkit-animation-name:scaleIn;
	animation-name:scaleIn;
}

.lead {
	font-size:16px;
	line-height:24px;
	font-weight:400;
}

.transparent-bg {
	background-color:transparent!important;
	margin-bottom:0;
}

@-webkit-keyframes scaleIn {
	0% {
		opacity:0;
		-webkit-transform:scale(0);
		transform:scale(0);
	}

	100% {
		opacity:1;
		-webkit-transform:scale(1);
		transform:scale(1);
	}
}

@keyframes scaleIn {
	0% {
		opacity:0;
		-webkit-transform:scale(0);
		-ms-transform:scale(0);
		transform:scale(0);
	}

	100% {
		opacity:1;
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);
	}
}

/* Header
********************************/


/* Home Page
********************************/
#main-slider {
	position:relative;
}

.no-margin {
	margin:0;
	padding:0;
}

#main-slider .carousel .carousel-content {
	margin-top:0px;
}

#main-slider .carousel .slide-margin {
	margin-top:0px;
}

#main-slider .carousel h1 {
	font-family:'BrightonSB-Medium',serif;
	font-weight: normal;
	font-style: normal;
	font-size:64px;
	color: #F4FBB1;
	line-height: 1;
/* 	text-shadow:  1px 1px 1px #1A6C8A; */
}

#main-slider .carousel h2 {
	color:#F4FBB1;
}

#main-slider .carousel .btn-slide {
	padding:12px 25px;
	background: #1A6C8A;
	color:#F4FBB1;
/* 	text-shadow:  .5px 1px 1px #255D76; */
	border-radius:4px;
	box-shadow: grey;
	margin:10% 0;
	display:inline-block;
	font-weight: 500;
	font-size: 24px;
}

#main-slider .carousel .slider-img {
	text-align:right;
	position:absolute;
}

#main-slider .carousel .item {
	background-position:50%;
	background-repeat:no-repeat;
	background-size:cover;
	left:0!important;
	opacity:0;
	top:0;
	position:absolute;
	width:100%;
	display:block!important;
/*   height: 730px; */
	height:400px;
	-webkit-transition:opacity ease-in-out 500ms;
	-moz-transition:opacity ease-in-out 500ms;
	-o-transition:opacity ease-in-out 500ms;
	transition:opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
	top:auto;
	position:relative;
}

#main-slider .carousel .item.active {
	opacity:1;
	-webkit-transition:opacity ease-in-out 500ms;
	-moz-transition:opacity ease-in-out 500ms;
	-o-transition:opacity ease-in-out 500ms;
	transition:opacity ease-in-out 500ms;
	z-index:1;
}

#main-slider .prev,#main-slider .next {
	position:absolute;
	top:50%;
	background-color:#c52d2f;
	color:#fff;
	display:inline-block;
	margin-top:-25px;
	height:40px;
	line-height:40px;
	width:40px;
	line-height:40px;
	text-align:center;
	border-radius:4px;
	z-index:5;
}

#main-slider .prev:hover,#main-slider .next:hover {
	background-color:#000;
}

#main-slider .prev {
	left:10px;
}

#main-slider .next {
	right:10px;
}

#main-slider .carousel-indicators li {
	width:20px;
	height:20px;
	background-color:#fff;
	margin:0 15px 0 0;
	position:relative;
		display: none;
}

#main-slider .carousel-indicators li:after {
	position:absolute;
	content:"";
	width:24px;
	height:24px;
	border-radius:100%;
	background:rgba(0,0,0,0);
	border:1px solid #FFF;
	left:-3px;
	top:-3px;
}

#main-slider .carousel-indicators .active {
	width:20px;
	height:20px;
	background-color:#c52d2f;
	margin:0 15px 0 0;
	border:1px solid #c52d2f;
	position:relative;
}

#main-slider .carousel-indicators .active:after {
	position:absolute;
	content:"";
	width:24px;
	height:24px;
	border-radius:100%;
	background:#c52d2f;
	border:1px solid #c52d2f;
	left:-3px;
	top:-3px;
}

#main-slider .active .animation.animated-item-1 {
	-webkit-animation:fadeInUp 300ms linear 300ms both;
	-moz-animation:fadeInUp 300ms linear 300ms both;
	-o-animation:fadeInUp 300ms linear 300ms both;
	-ms-animation:fadeInUp 300ms linear 300ms both;
	animation:fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
	-webkit-animation:fadeInUp 300ms linear 600ms both;
	-moz-animation:fadeInUp 300ms linear 600ms both;
	-o-animation:fadeInUp 300ms linear 600ms both;
	-ms-animation:fadeInUp 300ms linear 600ms both;
	animation:fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
	-webkit-animation:fadeInUp 300ms linear 900ms both;
	-moz-animation:fadeInUp 300ms linear 900ms both;
	-o-animation:fadeInUp 300ms linear 900ms both;
	-ms-animation:fadeInUp 300ms linear 900ms both;
	animation:fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
	-webkit-animation:fadeInUp 300ms linear 1200ms both;
	-moz-animation:fadeInUp 300ms linear 1200ms both;
	-o-animation:fadeInUp 300ms linear 1200ms both;
	-ms-animation:fadeInUp 300ms linear 1200ms both;
	animation:fadeInUp 300ms linear 1200ms both;
}

#introheadline {
	margin:10px 0;
	padding:0;
	text-align:center;
}

#introheadline h1 {
	margin:0 auto 30px auto;
	padding:0;
	font-weight:300;
	line-height:1.4;
	font-size: 28px;
	max-width: 900px;
	text-align: center;
}

/* Tabbed area on plant pages
********************************/
#navtabs h3 {
	padding: 0;
	margin:0;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
}

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #255D76;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #255D76;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:2px solid #255D76;
  margin: 20px 0 20px 0;
}

.tab-content{
  padding: 10px 10px 0px 0;
 }

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
/*   border-radius: 100px; */
}
/* End tabbed area */

/* ** Plant Landing plant lists
********************************/
.plant-list-wrap {
	position:relative;
	padding:5px;
}

.plant-list-wrap img {
	width:100%;
}

.plant-list-wrap h3 {
	margin:0;
}

.plant-list-wrap a {
	font-size:16px;
	color:#000;
	text-transform: capitalize;
	font-weight: 500;
	font-family: arial;
}
/* End Plant Landing plant lists */


/* ** Portfolio CSS
********************************/
.portfolio-items {
	list-style:none outside none;
	margin:0 0 40px;
	padding:0;
	display: flex;
	justify-content: space-around;
}

.portfolio-item {
	margin:0;
	padding:0;
}

.portfolio-filter {
	list-style:none outside none;
	margin:0 0 40px;
	padding:0;
}

.portfolio-filter > li {
	display:inline-block;
}

.portfolio-filter > li a {
	background:none repeat scroll 0 0 #FFF;
	font-size:14px;
	font-weight:400;
	margin-right:20px;
	text-transform:uppercase;
	transition:all .9s ease 0;
	-moz-transition:all .9s ease 0;
	-webkit-transition:all .9s ease 0;
	-o-transition:all .9s ease 0;
	border:1px solid #F2F2F2;
	outline:none;
	border-radius:3px;
}

.portfolio-filter > li a:hover,.portfolio-filter > li a.active {
	color:#fff;
	background:#c52d2f;
	border:1px solid #c52d2f;
	box-shadow:none;
	-webkit-box-shadow:none;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index:2;
}

.isotope-hidden.isotope-item {
	pointer-events:none;
	z-index:1;
}

/**** Isotope CSS3 transitions ****/
.isotope,.isotope .isotope-item {
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	-ms-transition-duration:.8s;
	-o-transition-duration:.8s;
	transition-duration:.8s;
}

.isotope {
	-webkit-transition-property:height,width;
	-moz-transition-property:height,width;
	-ms-transition-property:height,width;
	-o-transition-property:height,width;
	transition-property:height,width;
}

.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	-ms-transition-property:-ms-transform,opacity;
	-o-transition-property:-o-transform,opacity;
	transition-property:transform,opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
	-webkit-transition-duration:0;
	-moz-transition-duration:0;
	-ms-transition-duration:0;
	-o-transition-duration:0;
	transition-duration:0;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

/* 404 page css
********************************/
#error .btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success:hover {
	background-color:#EBEBEB;
	border-color:#EBEBEB;
    color: #64686d;
}

#error h1 {
    color: #64686d;
	text-transform:uppercase;
}

/* shortcodes page css
********************************/
.shortcode-item {
	padding-bottom:0;
}

.shortcode-item h2 {
    color: #64686d;
	font-size:24px;
	margin-bottom:22px;
	margin-top:0;
	font-weight:600;
}

/* Footer
********************************/
.footer {
	background:none repeat scroll 0 0 #2E2E2E;
	border-top:5px solid #C52D2F;
	height:84px;
	margin-top:110px;
}

.footer_left {
	padding:10px;
}

.text-left {
	color:#FFF;
	font-size:12px;
	margin-top:15px;
}



#bottom {
	background:#f5f5f5;
	border-bottom:5px solid #c52d2f;
	font-size:14px;
}

#bottom h3 {
	margin-top:0;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:22px;
	color:#000;
}

#bottom ul {
	list-style:none;
	padding:0;
	margin:0;
}

#bottom ul li {
	display:block;
	padding:5px 0;
}

#bottom ul li a {
	color:gray;
}

#bottom ul li a:hover {
	color:#c52d2f;
}

#bottom .widget {
	margin-bottom:0;
}

#footer {
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
	background:#2e2e2e;
}

#footer a {
	color:#fff;
}

#footer a:hover {
	color:#c52d2f;
}

#footer ul {
	list-style:none;
	padding:0;
	margin:0;
}

#footer ul > li {
	display:inline-block;
	margin-left:15px;
}

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
.footer1 a { color: #ccc; }
.footer1 a:hover {color: #fff; }
.footer1 .widget { margin-bottom:30px; }
.footer1 .widget-title { font-size: 17px; font-weight: 300; color: #ccc; margin: 0 0 20px; }
.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
.footer1 .entry-meta a { color: #333333; }
.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
.follow-me-icons { font-size:30px; }
.follow-me-icons i { float:left; margin:0 10px 0 0; }

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
.footer2 a { color: #aaa; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0; }